<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EjemploBBDD.Properties.Settings.Conexion" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\DAM\Proyectos VSC\C#\Desarrollo de Interfaces\EjemploBBDD\ZooBD.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>